* {
    margin: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}
  
/* Reset CSS */
a {
    color: inherit;
    text-decoration: none !important;
}
  
button,
input,
textarea {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    background-color: transparent;
    border: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
}
  
ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

/* common */
.stop-drag {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
  
.sr-only {
    position: absolute;
    left: -999px;
    top: -999px;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    z-index: -999;
    overflow: hidden;
}
  
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.guide-msg {
    margin-left: 18px;
    margin-bottom: 18px;
    font-size: 14px;
    color: #B3CADE;
}

.vanish-style {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.hide {
    display: none;
}

.center {
    display: flex;
    justify-content:center;
    align-items:center;
}