/* user auth modal */
.user-auth-modal {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #03309C;
    z-index: 100;
}

.user-auth-modal__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    z-index: 101;
    background-color: #5B7EDC;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.user-auth-modal__main__logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 30%;
    padding: 0 200px;
}

.user-auth-modal__main__logo-container > div {
    width: 200px;
    height: 150px;
    object-fit: contain;
}

.user-auth-modal__main__logo-container > div > img {
    width: 100%;
    height: 100%;
}

.user-auth-modal__main__logo-container > span {
    color: #ffffff;
}

.user-auth-modal__main__input-box {
    width: 450px;
    height: 400px;
    overflow: hidden;
}

.user-auth-modal__main__input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 450px;
    height: 400px;
}

.user-auth-modal__main__input-container__item {
    min-width: 450px;
    height: 400px;
    padding: 16px;
    background: linear-gradient(to right, #1044A6, #224FB0, #3C65C4);
    border-radius: 4px;
}

.user-auth-modal__main__input-container__item-top {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.user-auth-modal__main__input__prev-btn,
.user-auth-modal__main__input__next-btn {
    cursor: pointer;
}

.user-auth-modal__main__input-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    margin-right: 8px;
    font-size: 18px;
    color: #B3CADE;
}

.user-auth-modal__main__input {
    width: 250px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(68, 68, 68, 0.41);
    font-size: 18px;
}

.user-auth-modal__main__file-preview {
    width: 100%;
    height: 200px;
    margin-bottom: 8px;
    background-color: #ffffff;
}

.user-auth-modal__main__file-preview > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.user-auth-modal__main__submit-button {
    width: 150px;
    height: 40px;
    background-color: #5B7EDC;
    border-radius: 4px;
    cursor: pointer;
}